<div class="row">
  <div *ngFor="let question of questions" class="col-12 mb-2">
    <app-question-item [question]="question"></app-question-item>
  </div>

  


  
</div>

<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]= "true"
              [totalItems]= "pagination.totalItems"
              [itemsPerPage]= "pagination.itemsPerPage"
              [(ngModel)]= "pagination.currentPage"
              (pageChanged)= "pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
 
  </pagination>
</div>

<div class="col-12">
  <a class="btn btn-success"  routerLink="new/"> New question</a>
</div>